{% extends 'base.html' %}

{% block headtitle %}{{ block.super }} -タスクリスト{% endblock %}
{% block pagetitle_body %}タスクリスト{% endblock %}


{% block content %}

<script type="text/javascript">
    // A CSRF token is required when making post requests in Django
    // To be used for making AJAX requests in script.js
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% load static %}
<link href="{% static 'css/taskline.css' %}" rel="stylesheet">

<a class="btn btn-primary" href="{% url 'taskline:create_task' %}" role=" button">タスク追加</a>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id <a id="sort-id"><i class="bi bi-arrow-down-up"></i></a></th>
            <th scope="col">タスク名 <a id="sort-name"><i class="bi bi-arrow-down-up"></i></a></th>
            <th scope="col">時間</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody id="tasks">
        {% include 'taskline/tasks.html' %}

    </tbody>
</table>
<div id="lazyLoadMark" data-nextpage="1" data-sort="id"> </div>
<div id="bottomOfList" class="mb-5"> </div>

{% endblock %}

{% block pagejs %}
{% load static %}

<script src="{% static 'js/taskline/task_list.js' %}"></script>
<script>
    $(function () {
        $("#toast1").toast('show');
    })
</script>
{% endblock %}